---
import { cn } from "~/utils/cn";

const pathname = Astro.url.pathname;
---

<header class="pt-10 md:pt-16 mb-10">
  <nav>
    <ul class="flex gap-4">
      <li>
        <a
          href="/"
          class={cn(
            pathname === "/" ? "border-b-2" : "border-b-0",
            "py-0.5 hover:opacity-50"
          )}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/posts"
          class={cn(
            pathname === "/posts" || pathname === "/posts/" ? "border-b-2" : "border-b-0",
            "py-0.5 hover:opacity-50"
          )}
        >
          Posts
        </a>
      </li>
    </ul>
  </nav>
</header>
