---
const pathname = Astro.url.pathname;
const links = [
  { href: "/", label: "About" },
  { href: "/posts", label: "Posts" },
];
---
<header class="pt-10 md:pt-16 mb-10">
  <nav>
    <ul class="flex gap-4">
      {links.map((link) => (
        <li>
          <a
            href={link.href}
            class={`py-0.5 hover:opacity-50 ${
              pathname === link.href ? "border-b-2" : "border-b-0"
            }`}
          >
            {link.label}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>
