---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import siteConfig from "../../site.config";
import GlobalNavigationBar from "../components/GlobalNavigationBar.astro";

const { title } = Astro.props;
const pageTitle = typeof title === "string" ? title : "taeyoung.dev";
---
<!doctype html>
<html lang="ko" class="dark:text-white dark:bg-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap"
    />
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
  </head>
  <body class="mx-auto max-w-[640px] px-4">
    <GlobalNavigationBar />
    <main class="mb-24">
      <slot />
    </main>
    <Analytics />
    <SpeedInsights />
  </body>
</html>
